In [19]:
from datasets import load_dataset

# Load the datset from the HuggingFace
data = load_dataset("iluvvatar/RuNNE")
data

/home/nightborn/DataspellProjects/kaggle_comps/venv/lib/python3.10/site-packages/datasets/load.py:1461: FutureWarning: The repository for iluvvatar/RuNNE contains custom code which must be executed to correctly load the dataset. You can inspect the repository content at https://hf.co/datasets/iluvvatar/RuNNE
You can avoid this message in future by passing the argument `trust_remote_code=True`.
Passing `trust_remote_code=True` will be mandatory to load this dataset from the next major release of `datasets`.
  warnings.warn(

DatasetDict({
    train: Dataset({
        features: ['id', 'text', 'entities'],
        num_rows: 461
    })
    test: Dataset({
        features: ['id', 'text', 'entities'],
        num_rows: 93
    })
    dev: Dataset({
        features: ['id', 'text', 'entities'],
        num_rows: 323
    })
})

In [20]:
import pandas as pd

# Convert the dataset to pandas
df1, df2 = data['train'], data['test']
df1 = pd.DataFrame(df1)
df1.set_index("id", inplace=True)

df2 = pd.DataFrame(df2)
df2.set_index("id", inplace=True)

df1

,text,entities
id,,
0,Ким Чен Нама убили с помощью запрещённого химо...,"[0 12 PERSON, 56 72 ORGANIZATION, 64 72 COUNTR..."
1,Смена портретов на долларах\nГарриет Табмен\nК...,"[19 27 MONEY, 28 42 PERSON, 52 67 MONEY, 68 77..."
2,Новым генсеком ООН станет португалец Гутерреш\...,"[6 14 PROFESSION, 15 18 ORGANIZATION, 26 36 NA..."
3,Вахту принял\n\nУоррен Баффет назвал своего по...,"[14 27 PERSON, 199 209 DATE, 232 260 PROFESSIO..."
4,В Японии скончался старейший житель Земли — Дз...,"[2 8 COUNTRY, 79 96 DATE, 116 122 COUNTRY, 134..."
...,...,...
836,Электрик руководит социал-демократами Дюссельд...,"[0 8 PROFESSION, 68 72 ORGANIZATION, 73 101 TI..."
839,Мужчина женился на тёще\n\nРумынский мужчина у...,"[25 34 NATIONALITY, 129 138 PERSON, 154 161 CI..."
843,Названы лауреаты премии «World Press Photo»\nФ...,"[61 67 COUNTRY, 68 78 PERSON, 258 286 ORGANIZA..."
866,Первое поражение Серены Уильямс в финале Austr...,"[0 6 ORDINAL, 17 31 PERSON, 41 56 EVENT, 57 71..."
891,Аделина Сотникова стала первой\nАделина Сотник...,"[0 17 PERSON, 24 30 ORDINAL, 31 48 PERSON, 49 ..."

In [21]:
# Combine the dataset
df_given = pd.concat([df1, df2])
df_given

,text,entities
id,,
0,Ким Чен Нама убили с помощью запрещённого химо...,"[0 12 PERSON, 56 72 ORGANIZATION, 64 72 COUNTR..."
1,Смена портретов на долларах\nГарриет Табмен\nК...,"[19 27 MONEY, 28 42 PERSON, 52 67 MONEY, 68 77..."
2,Новым генсеком ООН станет португалец Гутерреш\...,"[6 14 PROFESSION, 15 18 ORGANIZATION, 26 36 NA..."
3,Вахту принял\n\nУоррен Баффет назвал своего по...,"[14 27 PERSON, 199 209 DATE, 232 260 PROFESSIO..."
4,В Японии скончался старейший житель Земли — Дз...,"[2 8 COUNTRY, 79 96 DATE, 116 122 COUNTRY, 134..."
...,...,...
154,Актёр фильмов «Ип Ман» Донни Йен поддержал вра...,"[15 21 WORK_OF_ART, 23 32 PERSON, 56 65 PERSON..."
156,В Солсбери состоится концерт «Из России с любо...,"[2 10 CITY, 33 39 COUNTRY, 51 74 FACILITY, 77 ..."
168,У Турции есть записи убийства журналиста в сау...,"[2 8 COUNTRY, 43 53 COUNTRY, 82 101 ORGANIZATI..."
173,Жители Крыма назвали сына Биткоином\n\nЛоготип...,"[7 12 STATE_OR_PROVINCE, 45 53 MONEY, 56 61 ST..."
175,Морриконе ответил на сообщения о критике Таран...,"[0 9 PERSON, 41 50 PERSON, 52 67 ORGANIZATION,..."

In [22]:
# Load the provided dataset
df = pd.read_json(path_or_buf="train.jsonl", lines=True)
df.set_index("id", inplace=True)
df.columns = ['entities', "text"]
df

,entities,text
id,,
0,"[[0, 5, CITY], [16, 23, PERSON], [34, 41, PERS...",Бостон взорвали Тамерлан и Джохар Царнаевы из ...
1,"[[21, 28, PROFESSION], [53, 67, ORGANIZATION],...",Умер избитый до комы гитарист и сооснователь г...
2,"[[0, 4, PERSON], [37, 42, COUNTRY], [47, 76, O...",Путин подписал распоряжение о выходе России из...
3,"[[0, 11, PERSON], [36, 47, PROFESSION], [49, 6...",Бенедикт XVI носил кардиостимулятор\nПапа Римс...
4,"[[0, 4, PERSON], [17, 29, ORGANIZATION], [48, ...",Обама назначит в Верховный суд латиноамериканк...
...,...,...
514,"[[42, 46, COUNTRY], [82, 87, COUNTRY], [104, 1...",Глава Малайзии: мы не хотим противостоять Кита...
515,"[[1, 4, PRODUCT], [31, 33, FACILITY], [35, 44,...",«Союз» впервые пристыковался к МКС за 6 часов\...
516,"[[0, 4, PERSON], [8, 12, PERSON], [45, 52, AGE...",Трамп и Путин сделали совместное заявление к 7...
517,"[[0, 9, NATIONALITY], [58, 72, PERSON], [101, ...",Российский магнат устроил самую дорогую свадьб...
518,"[[0, 4, PERSON], [16, 25, PROFESSION], [27, 38...",Трамп поздравил астронавта Пегги Уитсон с уста...

In [23]:
# Load the test data
test = pd.read_json(path_or_buf="test.jsonl", lines=True)
test.set_index("id", inplace=True)
test.columns = ["text"]
test

                                                  text
id
584  Владелец «Бирмингема» получил шесть лет тюрьмы...
585  Акция протеста на Майдане Независимости объявл...
586  Фольксваген может перейти под контроль Порше \...
587  В Москве покажут фильмы Чарли Чаплина с живой ...
588  Чулпан Хаматова сыграет главную роль в фильме ...
..                                                 ...
644  ОБСЕ назвала референдум о статусе Крыма незако...
645  Египетского студента могут выслать из страны з...
646  Геннадий Онищенко отправлен в отставку\nГеннад...
647  Племянник Алишера Усманова разбился в ДТП\nВид...
648  Владимир Булавин назначен на новую должность —...

[65 rows x 1 columns]

Filter out repeated sentences. Sentences in the dataset from huggingface and from codalab have different encoding or something like that, so some symbols differ. Therefore, we think that sentences are the same if they have the same length and they have more than 99% elementwise similarity

In [24]:
from tqdm import tqdm

to_drop = []

for row in tqdm(df_given.iterrows(), total=len(df_given)):
    text = row[1]['text']

    for sentence in df['text']:
        
        # Find sentences of similar length 
        if len(sentence) == len(text):
            sim = 0
            
            # Compare charwise
            for c1, c2 in zip(sentence, text):
                if c1 == c2:
                    sim += 1
            sim /= len(sentence)
            if sim >= 0.99:
                to_drop.append(row[0])

print("Length of the huggingface data:", len(df_given))
df_given = df_given.drop(to_drop)
print("Length of the huggingface data after filtering out repetitions:", len(df_given))

100%|██████████| 554/554 [00:00<00:00, 6139.22it/s]

Length of the huggingface data: 554
Length of the huggingface data after filtering out repetitions: 112

In [8]:
def convert(x):
    """
    Convert the huggingface format to codalab format
    
    :param x: list of entities
    :return: the converted list of entities
    """
    prepped = []
    for e in x:
        e = e.split()
        prepped.append([int(e[0]), int(e[1])-1, e[2]])
    return prepped

df_given['entities'] = df_given['entities'].apply(convert)
df_given

,text,entities
id,,
4,В Японии скончался старейший житель Земли — Дз...,"[[2, 7, COUNTRY], [79, 95, DATE], [116, 121, C..."
7,Мэр Москвы назвал состав нового правительства\...,"[[0, 2, PROFESSION], [97, 107, CITY], [114, 13..."
19,Племянник Алишера Усманова разбился в ДТП\nВид...,"[[10, 25, PERSON], [38, 40, EVENT], [49, 55, C..."
21,Газпром сменит главу оператора морского участк...,"[[0, 6, ORGANIZATION], [15, 62, PROFESSION], [..."
23,Герман Кейн — в президенты?\n\n\n\n\n''У Барак...,"[[0, 10, PERSON], [16, 25, PROFESSION], [36, 4..."
...,...,...
118,Depeche Mode выпустил новый альбом Spirit\n\nВ...,"[[0, 11, ORGANIZATION], [35, 40, WORK_OF_ART],..."
121,Мэр Гданьска погиб после ножевой атаки на благ...,"[[0, 2, PROFESSION], [69, 82, PERSON], [84, 11..."
129,Умерла старейшая жительница Земли Эмма Морано\...,"[[34, 44, PERSON], [47, 57, PERSON], [59, 88, ..."
141,Умер Кирк Дуглас — последний представитель «зо...,"[[5, 15, PERSON], [59, 71, COUNTRY], [87, 97, ..."
146,Билл Гейтс представил в Китае работающий без в...,"[[0, 9, PERSON], [24, 28, COUNTRY], [174, 183,..."

In [9]:
# Combine the codalab and huggingface data
df = pd.concat([df_given, df])
df

,text,entities
id,,
4,В Японии скончался старейший житель Земли — Дз...,"[[2, 7, COUNTRY], [79, 95, DATE], [116, 121, C..."
7,Мэр Москвы назвал состав нового правительства\...,"[[0, 2, PROFESSION], [97, 107, CITY], [114, 13..."
19,Племянник Алишера Усманова разбился в ДТП\nВид...,"[[10, 25, PERSON], [38, 40, EVENT], [49, 55, C..."
21,Газпром сменит главу оператора морского участк...,"[[0, 6, ORGANIZATION], [15, 62, PROFESSION], [..."
23,Герман Кейн — в президенты?\n\n\n\n\n''У Барак...,"[[0, 10, PERSON], [16, 25, PROFESSION], [36, 4..."
...,...,...
514,Глава Малайзии: мы не хотим противостоять Кита...,"[[42, 46, COUNTRY], [82, 87, COUNTRY], [104, 1..."
515,«Союз» впервые пристыковался к МКС за 6 часов\...,"[[1, 4, PRODUCT], [31, 33, FACILITY], [35, 44,..."
516,Трамп и Путин сделали совместное заявление к 7...,"[[0, 4, PERSON], [8, 12, PERSON], [45, 52, AGE..."
517,Российский магнат устроил самую дорогую свадьб...,"[[0, 9, NATIONALITY], [58, 72, PERSON], [101, ..."
518,Трамп поздравил астронавта Пегги Уитсон с уста...,"[[0, 4, PERSON], [16, 25, PROFESSION], [27, 38..."

# Data analysis

The mean number of entities

In [25]:
df['entities'].apply(len).mean()

59.41233140655106

Counts of tags (should be better visited in JetBrains IDE)

In [11]:
entity_names = [sublist[2] for row in df['entities'] for sublist in row]

pd.Series(entity_names).value_counts()

PERSON               6285
PROFESSION           6122
ORGANIZATION         5135
EVENT                4119
DATE                 3318
COUNTRY              3145
CITY                 1571
NUMBER               1353
AGE                   812
ORDINAL               741
NATIONALITY           540
LAW                   516
AWARD                 516
STATE_OR_PROVINCE     511
FACILITY              502
LOCATION              378
IDEOLOGY              351
PRODUCT               314
WORK_OF_ART           305
CRIME                 272
DISEASE               246
TIME                  228
MONEY                 220
DISTRICT              127
RELIGION              106
PENALTY               102
PERCENT                91
LANGUAGE               65
FAMILY                 28
Name: count, dtype: int64

Count the statistics of the data by the tags (should be better visible in JetBrains IDE)

In [12]:
entity_stats = {}

for _, row in df.iterrows():
    text = row['text']
    entities = row['entities']

    for sublist in entities:
        entity_name = sublist[2]
        start_idx = sublist[0]
        end_idx = sublist[1]
        entity_length = end_idx - start_idx + 1

        entity_text = text[start_idx:end_idx + 1]

        num_words = len(entity_text.split())

        if entity_name not in entity_stats:
            entity_stats[entity_name] = {'lengths': [], 'num_words': []}

        entity_stats[entity_name]['lengths'].append(entity_length)
        entity_stats[entity_name]['num_words'].append(num_words)

entity_df = pd.DataFrame.from_dict(
    {entity_name: {'min_length': min(stats['lengths']),
                   'max_length': max(stats['lengths']),
                   'mean_length': sum(stats['lengths']) / len(stats['lengths']),
                   'min_words': min(stats['num_words']),
                   'max_words': max(stats['num_words']),
                   'mean_words': sum(stats['num_words']) / len(stats['num_words'])}
     for entity_name, stats in entity_stats.items()},
    orient='index'
)

entity_df

,min_length,max_length,mean_length,min_words,max_words,mean_words
COUNTRY,2,37,7.518601,1,3,1.048331
DATE,2,45,13.587703,1,9,2.977095
AGE,1,26,8.931034,1,5,1.474138
PERSON,2,47,11.575497,1,7,1.665076
AWARD,5,64,21.554264,1,10,2.810078
PROFESSION,3,122,16.647174,1,14,1.842045
CITY,3,33,8.576703,1,4,1.033736
NUMBER,1,33,5.290466,1,5,1.299335
EVENT,2,73,13.769847,1,8,1.778830
LOCATION,3,46,11.452381,1,6,1.457672
STATE_OR_PROVINCE,2,27,11.590998,1,4,1.338552
ORGANIZATION,1,147,15.999221,1,15,1.965141
DISTRICT,3,44,15.511811,1,4,1.692913
PRODUCT,2,55,8.773885,1,6,1.219745
NATIONALITY,4,36,9.979630,1,3,1.092593
TIME,4,59,19.135965,1,11,3.828947
FACILITY,2,71,17.599602,1,10,2.217131
MONEY,4,61,16.086364,1,8,2.927273
ORDINAL,1,16,5.043185,1,3,1.017544
IDEOLOGY,4,49,13.572650,1,8,1.091168
CRIME,5,125,26.415441,1,14,2.933824
LAW,2,255,30.222868,1,29,4.310078
PERCENT,2,25,8.021978,1,5,1.879121
WORK_OF_ART,3,100,16.452459,1,11,2.636066
PENALTY,5,67,20.117647,1,10,2.813725
RELIGION,5,30,10.179245,1,2,1.009434
LANGUAGE,4,15,8.692308,1,1,1.000000
DISEASE,3,43,13.654472,1,6,1.695122
FAMILY,5,26,13.785714,1,4,1.785714

# Data preprocessing

In [26]:
# Dict to convert labels to numbers
labels = list(entity_df.index)
label2num = {l: i for i, l in enumerate(labels)}
label2num

{'COUNTRY': 0,
 'DATE': 1,
 'AGE': 2,
 'PERSON': 3,
 'AWARD': 4,
 'PROFESSION': 5,
 'CITY': 6,
 'NUMBER': 7,
 'EVENT': 8,
 'LOCATION': 9,
 'STATE_OR_PROVINCE': 10,
 'ORGANIZATION': 11,
 'DISTRICT': 12,
 'PRODUCT': 13,
 'NATIONALITY': 14,
 'TIME': 15,
 'FACILITY': 16,
 'MONEY': 17,
 'ORDINAL': 18,
 'IDEOLOGY': 19,
 'CRIME': 20,
 'LAW': 21,
 'PERCENT': 22,
 'WORK_OF_ART': 23,
 'PENALTY': 24,
 'RELIGION': 25,
 'LANGUAGE': 26,
 'DISEASE': 27,
 'FAMILY': 28}

In [27]:
# Translate the labels to numbers
df.entities = df.entities.apply(lambda x: [[s, e, label2num[l]]for s, e, l in x])
df

,entities,text
id,,
0,"[[0, 5, 6], [16, 23, 3], [34, 41, 3], [46, 62,...",Бостон взорвали Тамерлан и Джохар Царнаевы из ...
1,"[[21, 28, 5], [53, 67, 11], [100, 148, 15], [1...",Умер избитый до комы гитарист и сооснователь г...
2,"[[0, 4, 3], [37, 42, 0], [47, 76, 11], [97, 10...",Путин подписал распоряжение о выходе России из...
3,"[[0, 11, 3], [36, 47, 5], [49, 60, 3], [103, 1...",Бенедикт XVI носил кардиостимулятор\nПапа Римс...
4,"[[0, 4, 3], [17, 29, 11], [48, 56, 5], [62, 72...",Обама назначит в Верховный суд латиноамериканк...
...,...,...
514,"[[42, 46, 0], [82, 87, 0], [104, 123, 9], [158...",Глава Малайзии: мы не хотим противостоять Кита...
515,"[[1, 4, 13], [31, 33, 16], [35, 44, 15], [48, ...",«Союз» впервые пристыковался к МКС за 6 часов\...
516,"[[0, 4, 3], [8, 12, 3], [45, 52, 2], [72, 80, ...",Трамп и Путин сделали совместное заявление к 7...
517,"[[0, 9, 14], [58, 72, 3], [101, 115, 3], [138,...",Российский магнат устроил самую дорогую свадьб...
518,"[[0, 4, 3], [16, 25, 5], [27, 38, 3], [85, 96,...",Трамп поздравил астронавта Пегги Уитсон с уста...

In [15]:
df = df.drop([57, 322, 358]) # Drop unwanted sentences

In [16]:
from transformers import AutoTokenizer

# Load the tokenizer
tokenizer = AutoTokenizer.from_pretrained("DeepPavlov/rubert-base-cased")

In [29]:
def preprocess(text, entities):
    tokens = []

    def spans(txt):
        """
        Split the text onto token spans in format (token, beginning index, end index)
        """
        
        # Tokenize and drop unknowns
        tokens = tokenizer.tokenize(txt)
        tokens = [token for token in tokens if token != "[UNK]"]

        offset = 0
        
        # Find the spans
        for token in tokens:

            if token[:2] != "##":
                offset = txt.find(token, offset)
                length = len(token)
            else:
                offset = txt.find(token[2:], offset)
                length = len(token) - 2

            yield token, offset, offset+length
            offset += length

    # Check that all tokens are correct. Add them to list
    for token in spans(text):
        assert token[0][2:]==text[token[1]:token[2]] or token[0]==text[token[1]:token[2]], f"{tokens}, {token}, {text}"
        tokens.append(token)
    
    # Add labels to each token
    labels = []

    for token, start, end in tokens:
        tok_labels = []

        for s, e, l in entities:
            if start >= s and end<= e + 1:
                if start == s: tok_labels.append(2*l)
                else: tok_labels.append(2*l + 1)

        labels.append(tok_labels)
    return tokens, labels

tokenized_texts, indices, labels = [], [], []

# Preprocess the train data
for _, row in tqdm(df.iterrows(), total=len(df)):
    text, label = preprocess(row['text'], row['entities'])
    index = [(w[1], w[2]) for w in text]
    text = [w[0] for w in text]
    tokenized_texts.append(text)
    indices.append(index)
    labels.append(label)

100%|██████████| 519/519 [00:00<00:00, 716.65it/s]

In [296]:
tokenized_texts_test = []
test_indices = []

# Preprocess the text data
for _, row in tqdm(test.iterrows(), total=len(test)):
    test_text, _ = preprocess(row['text'], row['entities'])
    index = [(w[1], w[2]) for w in test_text]
    text = [w[0] for w in test_text]
    tokenized_texts_test.append(text)
    test_indices.append(index)

100%|██████████| 65/65 [00:00<00:00, 1531.39it/s]

In [30]:
# The maximal number of tokens in the text
max(len(t) for t in tokenized_texts)

1521

In [298]:
from transformers import pipeline
import torch

# Load the pretrained model for feature extraction
pretrained = pipeline("feature-extraction", model="DeepPavlov/rubert-base-cased", device="cuda")

Some weights of the model checkpoint at DeepPavlov/rubert-base-cased were not used when initializing BertModel: ['cls.predictions.bias', 'cls.predictions.decoder.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.dense.weight', 'cls.seq_relationship.bias', 'cls.seq_relationship.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [299]:
# Find the pad index
{v:k for k, v in tokenizer.vocab.items()}[0]

'[PAD]'

In [300]:
texts = []
lbl = []
split = []
masks = []

# Split the data to length 510 (pretrained model input dimensionality is 512)
for t, l in zip(tokenized_texts, labels):
    for s in range(3):
        # Pad the sentences
        mask = [1] * len(t) + [0] * (510 - len(t))
        t = t + ["[PAD]"] * (510 - len(t))
        l = l + [[]] * (510 - len(l))
            
        texts.append(t[:510])
        lbl.append(l[:510])
        split.append(s)
        masks.append(mask[:510])
        
        # If the sentence is too long, split to several parts
        if len(t) > 510:
            t = t[510:]
            l = l[510:]
        else:
            break

In [301]:
test_texts = []
test_split = []
test_masks = []

# preprocess the text data the same way, but without labels
for t in (tokenized_texts_test):
    for s in range(3):
        mask = [1] * len(t) + [0] * (510 - len(t))
        t = t + ["[PAD]"] * (510 - len(t))

        test_texts.append(t[:510])
        test_split.append(s)
        test_masks.append(mask[:510])

        if len(t) > 510:
            t = t[510:]
        else:
            break

In [302]:
# Convert the labels to a OneHot (?) tensor

label_tensor = torch.zeros((len(lbl), 510, len(label2num) * 2))

for i, labels in enumerate(lbl):
    for j, tok in enumerate(labels):
        for k in tok:
            label_tensor[i, j, k] = 1
            
label_tensor = label_tensor.to("cuda")
label_tensor.shape

torch.Size([648, 510, 58])

In [303]:
# Convert masks to tensors
mask_tensor = torch.tensor([sum(m) for m in masks], dtype=torch.long, device="cuda")
mask_tensor.shape

torch.Size([648])

In [304]:
# Reconstruct the strings back
input_texts = [tokenizer.convert_tokens_to_string(t) for t in texts]

In [305]:
# Reconstruct the text strings back
input_texts_test = [tokenizer.convert_tokens_to_string(t) for t in tqdm(test_texts)]

100%|██████████| 67/67 [00:00<00:00, 4064.72it/s]

# Data modeling

In [306]:
import torch.nn as nn

class NERBertModel(nn.Module):

    def __init__(self, bert):
        super(NERBertModel, self).__init__()
        self.num_tag = 58
        self.bert = bert
        self.bert_drop = nn.Dropout(0.3)
        self.out_tag = nn.Linear(768, self.num_tag)
        self.sigma = nn.Sigmoid()
        self.conv = nn.Conv2d(in_channels=1, out_channels=1, kernel_size=5, padding=2)
        self.tanh = nn.Tanh()

    def forward(self, string):
        output = self.bert(string, return_tensors=True)[0, 1:-1].to("cuda")
        bert_out = self.bert_drop(output)
        tag = self.out_tag(bert_out)
        tag = self.tanh(tag)
        tag = self.conv(tag.unsqueeze(0))
        return self.sigma(tag.squeeze())

In [320]:
# Create the model
model = NERBertModel(pretrained).to("cuda")

In [321]:
from sklearn.model_selection import train_test_split

# Split the data onto train and validation
x_train, x_val, y_train, y_val, mask_tensor_train, mask_tensor_val = train_test_split(input_texts, label_tensor, mask_tensor, test_size=0.1, random_state=42)

In [322]:
from torch.optim import Adam

# Initialize the loss and optimizer
criterion = nn.BCELoss()
optimizer = Adam(model.parameters())

n_epochs = 50
best_loss = 10000.0

# Train the model
model.train()
for epoch in range(n_epochs):
    epoch_loss = 0.0
    bar = zip(x_train, y_train, mask_tensor_train)
    
    # Train loop (batching not supported due to pretrained pipeline limitations)
    for text, label, mask in bar:
        optimizer.zero_grad()
        output = model(text)
        output = output[:mask]
        label = label[:mask]
        loss = criterion(output, label)
        
        loss.backward()
        
        optimizer.step()
        epoch_loss += loss.item()
    
    print("Epoch: {} Loss: {}".format(epoch, epoch_loss / len(input_texts)))\
    
    # Validate the model
    test_loss = 0
    with torch.no_grad():
        for text, label, mask in zip(x_val, y_val, mask_tensor_val):
            output = model(text)
            output = output[:mask]
            label = label[:mask]
            loss = criterion(output, label)
            test_loss += loss.item()
    print("Test Loss: {}".format(test_loss / len(x_val)))
    
    if test_loss < best_loss:
        best_loss = test_loss
        torch.save(model, 'best.pt')

Epoch: 0 Loss: 0.06861910015563077
Test Loss: 0.042181591775554875
Epoch: 1 Loss: 0.031765990085715866
Test Loss: 0.030679252113287266
Epoch: 2 Loss: 0.026429762686516537
Test Loss: 0.026954111800743984
Epoch: 3 Loss: 0.022759301349359714
Test Loss: 0.02320038204869399
Epoch: 4 Loss: 0.02008292455579022
Test Loss: 0.02101016531770046
Epoch: 5 Loss: 0.017930646425718153
Test Loss: 0.019167961051257756
Epoch: 6 Loss: 0.01623033949268844
Test Loss: 0.017754951004798597
Epoch: 7 Loss: 0.01491816083481679
Test Loss: 0.01631904085381673
Epoch: 8 Loss: 0.013641330495352403
Test Loss: 0.015456236540698089
Epoch: 9 Loss: 0.012635731673655733
Test Loss: 0.014597091830980319
Epoch: 10 Loss: 0.01200220533383451
Test Loss: 0.014184948852142462
Epoch: 11 Loss: 0.011473501732347987
Test Loss: 0.01369384890064024
Epoch: 12 Loss: 0.01110381105940582
Test Loss: 0.013583612925587938
Epoch: 13 Loss: 0.010869104606778516
Test Loss: 0.013529474367029393
Epoch: 14 Loss: 0.010849523070264919
Test Loss: 0.013427465932013896
Epoch: 15 Loss: 0.010688099776899312
Test Loss: 0.01360174477673494
Epoch: 16 Loss: 0.010540761603929971
Test Loss: 0.013554246626937619
Epoch: 17 Loss: 0.010435994443536468
Test Loss: 0.013451003938770065
Epoch: 18 Loss: 0.010413416349870709
Test Loss: 0.013089954623809227
Epoch: 19 Loss: 0.010327720473368471
Test Loss: 0.013443922584589858
Epoch: 20 Loss: 0.010259212540404405
Test Loss: 0.013495041150599718
Epoch: 21 Loss: 0.010175487873502677
Test Loss: 0.013131764266066825
Epoch: 22 Loss: 0.010152741241777952
Test Loss: 0.013159381985091246
Epoch: 23 Loss: 0.010177254089565978
Test Loss: 0.013265612764427295
Epoch: 24 Loss: 0.010118981301477308
Test Loss: 0.013346403418108822
Epoch: 25 Loss: 0.010068657939309897
Test Loss: 0.013194566653468288
Epoch: 26 Loss: 0.010076648976264327
Test Loss: 0.013314254177161134
Epoch: 27 Loss: 0.00996943522023898
Test Loss: 0.013344739947038201
Epoch: 28 Loss: 0.009941845222154954
Test Loss: 0.013199488306418062
Epoch: 29 Loss: 0.010008291146485495
Test Loss: 0.013358633693021078
Epoch: 30 Loss: 0.009929930565232536
Test Loss: 0.01313252098356875
Epoch: 31 Loss: 0.009957734361919
Test Loss: 0.013554245656212936
Epoch: 32 Loss: 0.009972058948452612
Test Loss: 0.012995621289771336
Epoch: 33 Loss: 0.009852938862726054
Test Loss: 0.013205361273139715
Epoch: 34 Loss: 0.009913611366407426
Test Loss: 0.013052603856732067
Epoch: 35 Loss: 0.00985184327860393
Test Loss: 0.013092003175272392
Epoch: 36 Loss: 0.009782810477235565
Test Loss: 0.013403361168904946
Epoch: 37 Loss: 0.00977184706284283
Test Loss: 0.013108171433067093
Epoch: 38 Loss: 0.00981284097614673
Test Loss: 0.013520835691060011
Epoch: 39 Loss: 0.00985935958905665
Test Loss: 0.013236171949224976
Epoch: 40 Loss: 0.009833512966805655
Test Loss: 0.013109323242679239
Epoch: 41 Loss: 0.00978367905810484
Test Loss: 0.01338987028799378
Epoch: 42 Loss: 0.009808854955455316
Test Loss: 0.013116338283110124
Epoch: 43 Loss: 0.009769246838734461
Test Loss: 0.013402108411089733
Epoch: 44 Loss: 0.009833853214859342
Test Loss: 0.013428074071327081
Epoch: 45 Loss: 0.009780589587962036
Test Loss: 0.013045579535313524
Epoch: 46 Loss: 0.009745758520413218
Test Loss: 0.013151992330900752
Epoch: 47 Loss: 0.00974080368052208
Test Loss: 0.013282772726737536
Epoch: 48 Loss: 0.009776520417582094
Test Loss: 0.01318084612273826
Epoch: 49 Loss: 0.00977209007360665
Test Loss: 0.013373397269214575

In [32]:
# Load the best model
model = torch.load('best.pt')

In [370]:
import numpy as np

test_ents = []

# Load the predictions for the test data
with torch.no_grad():
    for text in input_texts_test:
        output = model(text)
        output = output.detach().cpu().numpy().round()
        resl = []

        for s in output:
            resl.append(np.where(s > 0.5)[0].tolist())
        test_ents.append(resl)

In [371]:
#  Remove predictions for paddings
test_labels = [[x for x, y in zip(test_ents[i], test_masks[i]) if y] for i in range(len(test_ents))]

In [372]:
to_del = []

# Join the sentences that were split
for i in range(len(test_split)):
    if test_split[i] > 0:
        test_labels[i-test_split[i]] += test_labels[i]
        to_del.append(i)

# Remove the sentences that are not the beginning
for i in range(len(to_del)):
    del test_labels[to_del[i] - i]

In [376]:
answer = []

# Convert the predictions to the Codalab format
for i in range(len(test_labels)):
    tl = list(zip(test_labels[i], test_indices[i]))
    lbls = []
    label_dict = {}
    
    # Convert the labels to their text representation
    for l, _ in tl:
        for i in range(len(l)):
            l[i] = list(label2num.keys())[l[i]//2]
    
    # Convert the labels from token-wise to spans
    for i, (l, ind) in enumerate(tl):
        for lb in l:
            if lb not in label_dict:
                label_dict[lb] = [ind[0], ind[1]]
            elif lb not in tl[i-1][0]:
                lbls.append([lb, label_dict[lb][0], label_dict[lb][1]])
                label_dict[lb] = [ind[0], ind[1]]
            else:
                label_dict[lb][1] = ind[1]
    
    for k, v in label_dict.items():
        lbls.append([k, v[0], v[1]])
    
    answer.append(lbls)

In [396]:
# Save the predictions
with open("result.jsonl", "w") as f:
    for i, id in enumerate(test.index):
        a = [[e[1], e[2]-1, e[0]] for e in answer[i]]
        f.write(f"{'{'}'ners': {a}, 'id': {id}{'}'}\n")